$purple: #8b60e8;
$twitter: #55acee;

html {
    background: url("../img/bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

body {
    background-color: transparent;
    font-family: Lato, sans-serif;
    margin: auto;
}

.navbar {
    .navbar-toggle {
        margin-top: 16px;
    }
    
    .navbar-brand {
        min-height: 64px;
    }
}

.navbar-inverse {
    background-color: transparent;

    .container {
        min-height: 65px;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }

    .navbar-nav > li > a {
        color: rgba(255,255,255,0.5);
        padding: 23px 0 15px 15px;
        transition: color 0.2s;

        &:hover {
            color: rgba(255,255,255,1);
            transition: color 0.2s;
        }

        &:focus {
            color: rgba(255,255,255,1);
            transition: color 0.2s;
        }

        > i {
            font-size: 20px;
        }
    }
}

.logo {
    padding-top: 75px;
    text-align: center;
    text-transform: uppercase;
    color: white;

    img {
        width: 125px;
    }
}

.btn-primary {
    background-color: rgba($purple, 0.5);
    border-color: rgba($purple, 0.5);
    transition: all 0.2s;

    &:hover,
    &:focus {
        color: #fff;
        background-color: rgba($purple, 100);
        border-color: rgba($purple, 1);
        transition: all 0.2s;
    }
}

.btn-default {
    background-color: rgba(white, 0);
    border-color: rgba(white, 0.5);
    transition: all 0.2s;
    color: rgba(white, 0.75);

    &:hover,
    &:focus {
        color: rgba(white, 0.75);
        background-color: rgba(white, 0.1);
        border-color: rgba(white, 0.5);
        transition: all 0.2s;
    }
}


.main-header {
    h1 {
        margin-top: 75px;
        text-align: center;
        color: white;
        padding-bottom: 10px;
    }

    hr {
        background-color: rgba(255,255,255,0.1);
        height: 1px;
        border: 0;
        margin: 50px 150px;
    }

    p.lead {
        text-align: center;
        color: rgba(255,255,255,0.5);
        margin-bottom: 50px;
    }
}

@media(min-width: 768px) {
    .container-mini {
        max-width: 760px;
    }
}

.download {
    text-align: center;
    padding: 45px 15px;

    &.top {
        border: 1px solid rgba(white, 0.1);
    }

    &.bottom {
        border-top: 1px solid rgba(white, 0.1);
    }
    .btn {
        text-align: left;
        padding: 6px 20px 8px 20px;
        margin-left: 15px;

        p {
            font-size: 16px;
            font-weight: 700;
            margin: 0;
            margin-bottom: -4px;
        }

        small {
            opacity: 0.75;
        }

        .pull-left {
            margin-right: 20px;
        } 

        i.fa {
            font-size: 22px;
            margin-top: 8px;
        }
        
        @media screen and (max-width: 786px) {
            width: 100%;
            margin-bottom: 15px;
            margin-left: 0px;
        }
    }
    p.lead {
        color: white;
        margin-bottom: 25px;
    }
}

.subscribe {
    margin-top: 100px;

    p {
        color: rgba(255,255,255,0.5);
        margin-top: -15px;

        &.lead {
            color: rgba(255,255,255,0.8);
            text-align: left;
            padding-top: 10px;
        }
    }

    .form-control {
        background-color: rgba(0,0,0,0);
        border: 1px solid rgba(255,255,255,0.1);
        font-weight: 400;
        box-shadow: none;
        color: white;

        &:focus {
            border-color: rgba(139, 96, 232, 1);
            outline: 0;
            box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(255, 255, 255, 0) !important;
        }
    }

    .form-control::-moz-placeholder {
        color: rgba(255,255,255,0.5);
        opacity: 1;
    }
}

.alert {
    margin-top: 25px;
}

.alert-success {
    background-color: rgba(64, 254, 197, 0.25);
    border: 1px solid #40fec5;
    border-radius: 6px;
    color: white;
}

.alert-error {
    background-color: rgba(231, 76, 60, 0.25);
    border: 1px solid #ec3930;
    border-radius: 6px;
    color: white;
}

#alertSuccess, 
#alertError, 
#alertSuccess2, 
#alertError2 {
    display: none;
}

canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -5;
}

.screenshot {
    text-align: center;
    margin-top: 50px;

    img {
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 0 50px rgba(0,0,0,0.5);
    }
}

.teaser {
    background: rgba(0,0,0,0);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0.99) 100%);
    filter:progid:dximagetransform.microsoft.gradient(startcolorstr='#000000', endcolorstr='#000000', gradienttype=0 );
}

section {
    padding: 100px 0;
    color: rgba(255,255,255,0.9);

    h2 {
        text-transform: uppercase;
        margin-bottom: 40px;

        img {
            margin-right: 20px;
            margin-top: -6px;
        }
    }

    h3 {
        font-size: 18px;
        font-weight: 700;
        margin: 40px 0 10px 0;
    }

    .section-image-1 {
        padding-right: 40px;
    }

    p {
        font-size: 18px;
        color: rgba(255,255,255,0.75);
        line-height: 1.5;
    }

    &.average {
        margin-top: 50px;

        h2 {
            color: #24e174;
        }
    }

    .section-image img {
        max-width: 100%;
    }

    &.power h2 {
        color: #f8a521;
    }

    &.geeks h2 {
        color: #ec3930;
    }
}

.ask-on-twitter {
    padding-top: 75px;
    margin-bottom: 50px;
    text-align: center;
    background: url("../img/teaser-question.png") no-repeat 0 0;
    background-position: center;
    height: 305px;

    h1 {
        text-align: center;
        color: white;
    }
    
    p {
        color: rgba(white, 0.5);
        font-size: 18px;
    }
    
    .btn {
        margin-top: 25px;
    }
    
    .col-sm-6:first-child {
        border-right: 1px solid rgba(white, 0.1);
    }

    .btn-twitter {
        background-color: transparent;
        border-color: $twitter;
        color: $twitter;
        transition: all 0.2;

        &:hover {
            margin-top: 25px;
            background-color: rgba(85, 172, 238, 0.25);
            border-color: $twitter;
            color: $twitter;
            transition: all 0.2s;
        }

        &:focus {
            margin-top: 25px;
            background-color: rgba(85, 172, 238, 0.25);
            border-color: $twitter;
            color: $twitter;
            transition: all 0.2s;
        }
    }
}

footer {
    padding-bottom: 15px;

    hr {
        background-color: rgba(255,255,255,0.1);
        height: 1px;
        border: 0;
    }

    p {
        color: rgba(255,255,255,0.5);
    }

    .social {
        a {
            color: rgba(255, 255, 255, 0.5);
            transition: color 0.3s;
            margin-right: 15px;

            &:hover {
                color: rgba(255, 255, 255, 1);
                transition: color 0.3s;
            }

            &:focus {
                color: rgba(255, 255, 255, 1);
                transition: color 0.3s;
            }
        }

        i {
            font-size: 20px;
        }
    }

    .footer-hearts {
        color: rgb(240, 90, 82);
        margin: 0 3px;
    }

    .footer-twitter {
        color: $twitter;
    }

    .footer-right {
        padding-right: 0;
    }
}

.subscribe-footer.subscribe {
    margin-top: 15px;
}
